:root{
    --color-dark:#1b1b1b;
    --color-light:#ffff;
    --color-titulo:#dbd5cc;
}

body{
    font-family:'Oswald';
    font-weight: 200;
    background-color: var(--color-dark);
    color: var(--color-light);
    letter-spacing: 0.1rem;
}

section{
    background-color: var(--color-titulo);
}

section p{
    color: var(--color-dark);
}
